{% extends "base5.html" %}

{% block title %}
Listados
{% endblock %}

{% block listados %}
    <h2 align="center">Listado de repositorios en GitHub</h2>
    <table align="center" border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Lenguaje</th>
                <th>Forks</th>
                <th>Última modificación</th>
                <th>Licencia</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for repo in data %}
            <tr>
                <td>{{ repo.name }}</td>
                <td>{{ repo.description }}</td>
                <td>{{ repo.language }}</td>
                <td>{{ repo.forks }}</td>
                <td>{{ repo.updated_at }}</td>
                {% if repo.license != null %}
                <td>{{ repo.license.name }}</td>
                {% else %}
                <td align="center">{{ rip }}</td>
                {% endif %}
                <td><a href="{{ repo.url }}" target="_blank">Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br><br><br>

    <h2 align="center">Listado filtrado de repositorios en GitHub</h2>
    <table align="center" border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Lenguaje</th>
                <th>Forks</th>
                <th>Última modificación</th>
                <th>Licencia</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..data | length %}
            {% if data[i].language == 'Python' %}
            <tr>
                <td>{{ data[i].name }}</td>
                <td>{{ data[i].description }}</td>
                <td>{{ data[i].language }}</td>
                <td>{{ data[i].forks }}</td>
                <td>{{ data[i].updated_at | date('d/m/y H:i') }}</td>
                {% if data[i].license != null %}
                <td>{{ data[i].license.name }}</td>
                {% else %}
                <td align="center">{{ rip }}</td>
                {% endif %}
                <td><a href="{{ data[i].url }}" target="_blank">Link</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <br><br><br><br><br>

    {{ include('listado3.html') }}

{% endblock %}