<h2 align="center">Listado filtrado (2) de repositorios en GitHub</h2>
<table align="center" border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Lenguaje</th>
            <th>Forks</th>
            <th>Última modificación</th>
            <th>Licencia</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for repo in data %}
            {% if repo.forks >= 1 %}
                <tr>
                    <td>{{ repo.name }}</td>
                    <td>{{ repo.description }}</td>
                    <td>{{ repo.language }}</td>
                    <td>{{ repo.forks }}</td>
                    <td>{{ repo.updated_at }}</td>
                    {% if repo.license != null %}
                    <td>{{ repo.license.name }}</td>
                    {% else %}
                    <td align="center">{{ rip }}</td>
                    {% endif %}
                    <td><a href="{{ repo.url }}" target="_blank">Link</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>